.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoStyle {
  display: flex;
  align-items: center;
}

.leftStyle {
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.leftStyle a {
  text-decoration: none;
  color: black;
}
